.register {
  width: 100%;
  padding: 3rem 1rem;
  @media screen and (min-width: $screen-sm) {
    width: 25rem;
  }

  &-social {
    margin-right: 1rem;
    margin-left: 1rem;

    &-facebook {
      display: block;
      background-color: $facebook;
      color: $white;
      padding: 0.75rem 0.5rem;
      @extend %button;
      text: {
        align: center;
        decoration: none;
      }

      &:hover {
        background-color: lighten($facebook, 5%);
      }

      i {
        float: left;
      }
    }
  }
}

.devide-login-option {
  text-transform: uppercase;
}

form {
  padding: 1rem 1rem 2rem;
  background-color: $white;
  border-radius: 4px;
}

.form-group {
	margin-top: 0.25rem;
	margin-bottom: 1rem;
}

.input {
  &-group{
    display: flex;

    &.has-error {
      .input-field {
        border-color: $validation-color;
      }
    }
  }

  &-addon {
    background-color: #edeced;
    padding: 0.75rem;
    border: 1px solid #c4bfbe;

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: none;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-left: none;
    }
  }

  &-field {
    flex: 1;
    border: 1px solid #c4bfbe;
    padding: 0.75rem;
    font-size: 0.75rem;

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:focus{
      outline: none;
    }
  }
}

.addon {
  &-checkbox {
    margin-right: 0.5rem;
  }
  &-label {
    font-size: 0.75rem;
    cursor: pointer;
  }
}

.cta-button {
  @extend %button;
  width: 100%;
  background-color: $primary-color;
  color: $white;
  padding: 0.875rem 1rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: lighten($primary-color, 5%);
  }
}

.terms-and-conditions {
  margin-right: 1rem;
  margin-left: 2.25rem;

  .agree-terms {
    margin-left: -1.25rem;
  }
}

.devider {
  margin: 1.75rem 0;
}

.current-member {
  margin-top: 0;
  font-size: 0.8rem;
  text-align: center;
}

%button {
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 #615D6C;
  transition: background-color .275s;
  font: {
    size: 1.125rem;
    weight: 600;
  }
}
