.register {
  width: 25rem;
  padding: 3rem 1rem;

  &-social {
    margin-right: 1rem;
    margin-left: 1rem;

    &-facebook {
      display: block;
      background-color: $facebook;
      color: $white;
      padding: 0.75rem 0.5rem;
      text: {
        align: center;
        decoration: none;
      }
      border-radius: 4px;
      box-shadow: 0 2px 2px 0 #615D6C;
      transition: background-color .275s;
      font: {
        size: 1.125rem;
        weight: 600;
      }

      &:hover {
        background-color: lighten($facebook, 5%);
      }
    }
  }
}

form {
  padding: 1rem 1rem 2rem;
  background-color: $white;
  border-radius: 4px;
}

.input {
  &-group{
    display: flex;
  }

  &-addon {
    background-color: #edeced;
    padding: 0.75rem;
    border: 1px solid #c4bfbe;

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: none;
    }
  }

  &-field {
    flex: 1;
    border: 1px solid #c4bfbe;
    padding: 0.75rem;
    font-size: 0.75rem;

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:focus{
      outline: none;
    }
  }
}
