// Colors
$primary-color: #729C03;
$brand-color: #174a8f;
$white: #fff;
$black: #000;
$facebook: #3b5998;
$header-bgc: #252423;
$footer-bgc: #f0f0f0;


// Typography
$basic-font-color: #333;

// Links
$link-color: #0090aa;
